.widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 110px;

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title {
        font-weight: bold;
        font-size: 14px;
        color: rgb(166, 165, 165);
    }

    .counter {
        font-size: 23px;
        font-weight: 300;
    }

    .link {
        color: rgb(137, 131, 240);
        width: max-content;
        font-size: 12px;
        border-bottom: 1px solid rgb(137, 131, 240);
        cursor: pointer;
    }

    .percentage {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 14px;

        &.positive {
            color: green;
        }

        &.negatice {
            color: red;
        }
    }

    .icon {
        font-size: 28px;
        padding: 6px;
        border-radius: 5px;
        align-self: flex-end;
    }
}